<html lang="en">

<head>
  {{>head}}
</head>

<body>
  {{>header}}
  <hr class="featurette-divider"> 
  <div class="container">{{{body}}}</div>
  <hr class="featurette-divider"> {{>footer}} {{>foot}}
</body>
</html>